$theme: baaboo;

$font-lg: 48px;

$font-subtitle: 'Libre Baskerville';
$color-subtitle: #dedede;

$highlight-color: #ec008c;
$light-grey: #efefef;
$black: #272727;
$dark-grey: #333;
$grey: #999;
$grey-light: #f7f7f7;
$grey-02: #ccc;
$white: #ffffff;
$blue: #322b91;

