<footer>
	<div class="container footer-section">
		<div class="row">
			<div class="col-md-3">
				<h4 class="footer-title">Baa&boo.com</h4>
				<p>Chúng tôi chuyên phục vụ các món ăn dân dã với công thức làm bánh nổi tiếng của vùng đất Nam Bộ - thơm lừng hương dứa cộng thêm lớp đậu xanh ngọt ngào béo béo tạo nên món ăn rất ngon đến tuyệt vời</p>
			</div>
			<div class="col-md-3 widget">
				<h4 class="footer-title">INSTAGRAM FEED</h4>
				<ul class="baaboo-instagram-widget">
				    <li>
				        <a href="https://www.instagram.com/p/BR72XgRBRy7/" target="_blank">
				            <img class="img-responsive" src="images/instagram-01.jpg" alt="">
				        </a>
				    </li>
				    <li>
				        <a href="https://www.instagram.com/p/BR72V95hCG0/" target="_blank">
				            <img class="img-responsive" src="images/instagram-02.jpg" alt="">
				        </a>
				    </li>
				    <li>
				        <a href="https://www.instagram.com/p/BR72US-BPc4/" target="_blank">
				            <img class="img-responsive" src="images/instagram-03.jpg" alt="">
				        </a>
				    </li>
				    <li>
				        <a href="https://www.instagram.com/p/BR72SLEhtSh/" target="_blank">
				            <img class="img-responsive" src="images/instagram-04.jpg" alt="">
				        </a>
				    </li>
				    <li>
				        <a href="https://www.instagram.com/p/BR72QOJhzH7/" target="_blank">
				            <img class="img-responsive" src="images/instagram-05.jpg" alt="">
				        </a>
				    </li>
				    <li>
				        <a href="https://www.instagram.com/p/BR72OV2B6uN/" target="_blank">
				            <img class="img-responsive" src="images/instagram-06.jpg" alt="">
				        </a>
				    </li>
				</ul>
			</div>
			<div class="col-md-3">
				<h4 class="footer-title">Thông tin liên hệ</h4>
				<ul>
					<li>ĐT: <a href="tel:0933 675 051">0933 675 051</a></li>
					<li>Email: <a href="mailto:baaboovn@gmail.com">baaboovn@gmail.com.</a></li>
					<li class="baaboo-social-widget">
						<a href="#" title="Google Plus"><i class="ion-social-googleplus"></i></a>
						<a href="#" title="Facebook"><i class="ion-social-facebook"></i></a>
						<a href="#" title="Twitter"><i class="ion-social-twitter"></i></a>
					</li>
					
				</ul>
			</div>
			<div class="col-md-3 has-form">
				<p>Bạn muốn cập nhật thông tin mới nhất của Baa&Boo?</p>
				<form action="" class="baaboo-newsletter-frm">
					<input type="email" placeholder="Nhập email của bạn ">
					<button class="btn-send icon-send"></button>
				</form>
			</div>
		</div>
	</div>
	<div class="copyright">
		&copy; Copyright 2017 Baa&amp;Boo. All Rights Reserved. Developed by 
		<a target="_blank" href="https://thienkim-frontend.github.io/cv/" title="Thien Kim" class="bold">Thien Kim</a>.
	</div>
</footer>
