<header class="head-section noprint">
	<div class="top-links">
		<div class="container">
			<div id="logo_text">
				<a href="#"><img src="images/logo_text.png" alt="BaaBoo"></a>
			</div>
			<div id="logo">
				<a href="#"><img src="images/logo.png" alt="BaaBoo"></a>
			</div>
			<ul class="list-unstyled register">
				<li><a data-fancybox data-src="#register_frm" href="javascript:;">Đăng kí  </a></li>
				<li><a href="#register_wrapper" data-fancybox>Đăng nhập</a></li>
			</ul>
		</div>
	</div>
	<div class="main_nav">
		<div class="container">
			<div class="nav_inner">
				<div id="cssmenu">
					<ul>
						<li class="has-sub"><a  ui-sref="product" ui-sref-active="active">sản phẩm</a>
							<ul>
				        <li><a href='#!/category/banh-bo-nuong'>Rau câu </a></li>
				        <li><a href='#!/category/banh-bo-nuong'>Bánh Bò nướng </a></li>
				        <li><a href='#!/category/banh-bo-nuong'>Bánh Khoai mỳ </a></li>
				        <li class='has-sub'><a href='#!/category/banh-bo-nuong'>Bánh Da lợn</a>
				            <ul>
				               <li><a href='#!/details/banh-chuoi-nuong-cupcake'>Da lợn ổ size nhỏ </a></li>
				               <li><a href='#!/details/banh-dau-xanh-bong-hong'>Da lợn bông hồng </a></li>
				               <li><a href='#!/details/banh-chuoi-nuong-o-size-lon'>Da lợn trái cây </a></li>
				            </ul>
				        </li>
				        <li><a href='#!/category/banh-bo-nuong'>Bánh Khoai Môn </a></li>
				        <li><a href='#!/category/banh-bo-nuong'>Bánh Đậu xanh </a></li>
				        <li><a href='#!/category/banh-bo-nuong'>Bánh Chuối </a></li>
					    </ul>
						</li>
						
						<!-- <li><a ui-sref="features" ui-sref-active="active">Features</a></li> -->
						<li><a ui-sref="gallery" ui-sref-active="active">Gallery</a></li>
						<li><a ui-sref="contact" ui-sref-active="active">Liên Hệ</a></li>
						<li><a ui-sref="price" ui-sref-active="active">Our Menu</a></li>
						<li><a ui-sref="about" ui-sref-active="active">About us</a></li>
						<li><a ui-sref="team" ui-sref-active="active">Our Team</a></li>
						<li><a ui-sref="404" ui-sref-active="active">Trang 404</a></li>
					</ul>
				</div>
				<div class="cart_wrapper">
					<a data-fancybox data-src="#cart_popup" href="javascript:;">
						<span class="icon-cart"></span>
						<span class="count highlight-bg" ng-bind="totalItem"></span>
					</a>
				</div>
				<a class="eltdf-side-menu-button-opener" href="javascript:void(0)">
					<span class="eltdf-side-menu-lines">
        		<span class="eltdf-side-menu-line eltdf-line-1"></span>
        		<span class="eltdf-side-menu-line eltdf-line-2"></span>
            <span class="eltdf-side-menu-line eltdf-line-3"></span>
        	</span>
				</a>
			</div>
		</div>				
	</div>
</header>
<section class="eltdf-side-menu" tabindex="0">
  <div class="eltdf-close-side-menu-holder">
    <a class="eltdf-close-side-menu" href="#" target="_self">
			<span class="ion-close-round"></span>
		</a>
  </div>
  <div class="widget eltdf-image-widget ">
		<h2>Baa&Boo</h2>

  <div class="eltdf-separator"></div>
  <p class="textwidget">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos modi placeat totam, ratione vel voluptatibus commodi qui tenetur, possimus dicta magni illo vitae optio quis reprehenderit ipsum voluptates assumenda excepturi beatae enim! Doloremque unde voluptas voluptate pariatur nihil neque saepe eveniet, ducimus, deserunt temporibus quo ipsam provident molestiae. Odit, in, sequi! </p>
  <ul class="contact-list">
  	<li>
		  <a class="eltdf-icon-widget-holder" href="tel:167712444227" target="_self" >
					<span class="eltdf-icon-holder"><i class="ion-android-call"></i></span>
					<span class="eltdf-icon-text">1-677-124-44227</span> 
			</a>
  	</li>
  	<li>
		  <a class="eltdf-icon-widget-holder" href="mailto:ndt_kim@yahoo.com.vn" target="_self" >
					<span class="eltdf-icon-holder"><i class="ion-email"></i></span>
					<span class="eltdf-icon-text">info@your business.com</span>       
			</a>
  	</li>
  	<li>
		  <a class="eltdf-icon-widget-holder" href="#" target="_self" >
					<span class="eltdf-icon-holder"><i class="ion-ios-location"></i></span>
					<span class="eltdf-icon-text">184 Main Collins Street West V. 8007</span>        
			</a>
  	</li>
  </ul>
	

  <h2 class="eltdf-custom-font-holder"> FOLLOW US ON INSTAGRAM	</h2>

    <ul class="clearfix baaboo-instagram-widget">
      <li>
        <a href="https://www.instagram.com/p/BRkqpjsA9bn/" target="_blank">
					<img class="img-responsive" src="https://scontent.cdninstagram.com/t51.2885-15/s150x150/e35/17126911_441031719573217_7033369724452864_n.jpg" alt="">						
				</a>
      </li>
      <li>
        <a href="https://www.instagram.com/p/BRkqoJmgwSk/" target="_blank">
					<img class="img-responsive" src="https://scontent.cdninstagram.com/t51.2885-15/s150x150/e35/17267753_285393481880891_6648218227241385984_n.jpg" alt="">						
				</a>
      </li>
      <li>
        <a href="https://www.instagram.com/p/BRkqmcZgnL4/" target="_blank">
					<img class="img-responsive" src="https://scontent.cdninstagram.com/t51.2885-15/s150x150/e35/17267703_413095625710990_8973051168066371584_n.jpg" alt="">						
				</a>
      </li>
      <li>
        <a href="https://www.instagram.com/p/BRkqkzXg9gB/" target="_blank">
					<img class="img-responsive" src="https://scontent.cdninstagram.com/t51.2885-15/s150x150/e35/17125619_1406437022712590_2903206821885902848_n.jpg" alt="">						
				</a>
      </li>
      <li>
        <a href="https://www.instagram.com/p/BRkqjMRA_hN/" target="_blank">
					<img class="img-responsive" src="https://scontent.cdninstagram.com/t51.2885-15/s150x150/e35/17127163_199152207238082_2351955904112361472_n.jpg" alt="">						
				</a>
      </li>
      <li>
        <a href="https://www.instagram.com/p/BRkqhkHAL2c/" target="_blank">
					<img class="img-responsive" src="https://scontent.cdninstagram.com/t51.2885-15/s150x150/e35/17332461_1811689452425200_3418687993592938496_n.jpg" alt="">						
				</a>
      </li>
    </ul>
  
  </div>
</section>
