<!-- /HEADER BACKGROUND SECTION -->
<div class="baaboo-has-background ken-burn" data-parallax="scroll" data-natural-height="850" data-natural-width="1920" data-position="top" data-image-src="images/bg/bg_09.jpg" data-bleed="1">
    <div class="baaboo-content-wrapper" style="background-image: url(images/bg/bg_09.jpg)">
        <div class="baaboo-container-inner">
          <div class="baaboo-title-holder">
              <h1 class="baaboo-page-title"><span>ABOUT US</span></h1>
		      <span class="baaboo-subtitle"><span>Experienced and Friendly</span></span>
          </div>
      </div>
    </div>
</div>
<!-- /HEADER BACKGROUND SECTION -->

<div class=" feature-section has-bg-color">
	<div class="container">
		<!-- FEATURES SECTION -->
		<h2 class="main-title text-center">WHY WE LOVE OURS JOB</h2>
		<div class="feature-border"></div>
		<div class="feature-info">
			<p> <span class="edgtf-dropcaps edgtf-normal" style="color: #333333"> B</span>Cum sociis natoque Donec quam felis, ultricies nec, and pellentesque quis eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, eget fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Lorem ipsum dolor sit amet, adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec magnis.</p>
			<p>Edge Themes give you everything you need to create an amazing website. Designed and built with care, filled with creative elements and useful options, and completely user-friendly. Set up your website quickly and with ease.</p>
			<img src="images/signature.png" alt="">
		</div>
		<div class="row has-fill">
			<div class="col-md-4">
				<div class="baaboo-post-holder baaboo-post-info-hover baaboo-post-info-skin-gray edgtf-info-type-transparent">
			    <div class="baaboo-post-holder-inner  edgtf-vertical-middle-align edgtf-has-parallax edgtf-disabled-parallax-on-touch" style="background-image: url(images/feature-01.jpg); background-position: 50% -18px;" data-parallax-speed="1">
			        <div class="baaboo-post-text-holder">
			            <div class="baaboo-post-text-inner baaboo-post-custom-992351" data-item-class="baaboo-post-custom-992351">
			                <h3 class="baaboo-post-title">MEET OUR FAMILY</h3>
			                <p class="baaboo-post-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed tincidunt ut</p>
			                <a itemprop="url" href="#" target="_self" class="edgtf-btn edgtf-btn-outline"> <span class="edgtf-btn-text">Read more</span> </a>
			            </div>
			        </div>
			    </div>
			  </div>
			</div>
			<div class="col-md-4">
				<div class="baaboo-post-holder baaboo-post-info-hover baaboo-post-info-skin-gray edgtf-info-type-transparent">
			    <div class="baaboo-post-holder-inner  edgtf-vertical-middle-align edgtf-has-parallax edgtf-disabled-parallax-on-touch" style="background-image: url(images/feature-02.jpg); background-position: 50% -18px;" data-parallax-speed="1">
			        <div class="baaboo-post-text-holder">
			            <div class="baaboo-post-text-inner baaboo-post-custom-992351" data-item-class="baaboo-post-custom-992351">
			                <h3 class="baaboo-post-title">FRANCESE BREAD</h3>
			                <p class="baaboo-post-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed tincidunt ut</p>
			                <a itemprop="url" href="#" target="_self" class="edgtf-btn edgtf-btn-outline"> <span class="edgtf-btn-text">Read more</span> </a>
			            </div>
			        </div>
			    </div>
			  </div>
			</div>
			<div class="col-md-4">
				<div class="baaboo-post-holder baaboo-post-info-hover baaboo-post-info-skin-gray edgtf-info-type-transparent">
			    <div class="baaboo-post-holder-inner  edgtf-vertical-middle-align edgtf-has-parallax edgtf-disabled-parallax-on-touch" style="background-image: url(images/feature-03.jpg); background-position: 50% -18px;" data-parallax-speed="1">
			        <div class="baaboo-post-text-holder">
			            <div class="baaboo-post-text-inner baaboo-post-custom-992351" data-item-class="baaboo-post-custom-992351">
			                <h3 class="baaboo-post-title">RECIPE OF THE MONTH</h3>
			                <p class="baaboo-post-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed tincidunt ut</p>
			                <a itemprop="url" href="#" target="_self" class="edgtf-btn edgtf-btn-outline"> <span class="edgtf-btn-text">Read more</span> </a>
			            </div>
			        </div>
			    </div>
			  </div>
			</div>
		</div>
		<!-- /FEATURES SECTION -->
	</div>
</div>

<div class="container bg-default">
	<!-- TAB SECTION -->
	<uib-tabset class="baaboo-tabs" active="activeJustified" justified="false" vertical="true">
	  <uib-tab index="0" heading="UNCOMPROMOISING QUALITY" classes="tab1 feature">
	  	<p>Cum sociis natoque Donec quam felis, ultricies nec, and pellentesque quis eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, eget fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Lorem ipsum dolor sit amet, adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec magnis.</p>
	  	<blockquote>
	  		<p>Years ago, I tried to top everybody, but I don’t anymore. I realized it was killing conversation. When you’re always trying for a topper you aren’t really listening. It ruins communication.</p>
	  		<p><span>Groucho Marx</span> </p>
	  	</blockquote>

	  	<div class="baaboo-icon-list-holder">
				<div class="baaboo-il-icon-holder">
					<i class="baaboo-icon-ion-icon ion-checkmark "></i>	</div>
				<p class="baaboo-il-text" style="padding-left: 15px">Sem quam semper libero, sit amet adipiscing sem neque sapien ut libero</p>
			</div>
			<div class="baaboo-icon-list-holder">
				<div class="baaboo-il-icon-holder">
					<i class="baaboo-icon-ion-icon ion-checkmark "></i>	</div>
				<p class="baaboo-il-text" style="padding-left: 15px">Sem quam semper libero, sit amet adipiscing sem neque sapien ut libero</p>
			</div>
			<div class="baaboo-icon-list-holder">
				<div class="baaboo-il-icon-holder">
					<i class="baaboo-icon-ion-icon ion-checkmark "></i>	</div>
				<p class="baaboo-il-text" style="padding-left: 15px">Sem quam semper libero, sit amet adipiscing sem neque sapien ut libero</p>
			</div>
	  </uib-tab>
	  <uib-tab index="1" heading="A FAMILY TRADITION">Short Labeled Justified content</uib-tab>
	  <uib-tab index="2" heading="UNQUESTIONABLE TASTE">Long Labeled Justified content</uib-tab>
	  <li class="baaboo-tabs-nav-line"></li>
	</uib-tabset>
	<!-- /TAB SECTION -->

</div>