<div id="home" class="hero noprint ken-burn" data-parallax="scroll" data-natural-height="850" data-natural-width="1920" data-position="top" data-image-src="images/bg/bg_01.jpg" data-bleed="1">
	<div class="hero_img" style="background-image: url(images/bg/bg_01.jpg)"></div>
	<div class="hero_inner">
		<div class="container">
			<h1>Welcome to Baa&Boo</h1>
			<a href="#pro_popup" class="btn_more hvr-shutter-out-horizontal img_fancybox">xem thêm</a>
			<div class="quick_categories">
				<ul class="highlight-bg list-unstyled clearfix">
					<li><a href="#!/category/banh-bo-nuong"><i class="icon-cake1"></i><span>Rau câu </span></a></li>
					<li><a href="#!/category/banh-bo-nuong"><i class="icon-cake2"></i><span>Bánh Bò nướng </span></a></li>
					<li><a href="#!/category/banh-bo-nuong"><i class="icon-cake3"></i><span>Bánh Khoai mỳ </span><span> </span></a></li>
					<li><a href="#!/category/banh-bo-nuong"><i class="icon-cake4"></i><span>Bánh Da lợn </span></a></li>
					<li><a href="#!/category/banh-bo-nuong"><i class="icon-cake5"></i><span>Bánh Khoai Môn </span></a></li>
					<li><a href="#!/category/banh-bo-nuong"><i class="icon-cake6"></i><span>Bánh Đậu xanh </span></a></li>
				</ul>
				<div class="info_contact">
					<i class="icon-phone-style2"></i>
					<span>Thứ 2 - Thứ 7 | 8:30 -18:00</span>
					<span class="number">0933 675 051</span>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- INTRO SECTION -->
<section class="intro_section noprint">
	<div class="container">
		<header>
			<h4 class="txt-center">Bánh ngon hôm nay</h4>
			<span class="icon-separator"></span>
		</header>
			<div class="col-md-3">
				<div class="item_inner">
			  		<div class="img_container">
			  			<img src="images/img001.jpg" alt="image 01" />
			  		</div>
			  		<div class="des_container">
			  			<div class="des_inner">
			  				<h5 class="pro_name"><a href="">Bánh đậu xanh mini cup</a></h5>
				  			<div class="price_box">
				  				<span class="price">50,000</span>
				  				<span class="old_price">20,000 </span> 
				  			</div>
				  			<a href="" class="btn btn_cart"><span class="icon-cart"></span>Đặt hàng</a>
			  			</div>
			  		</div>
			  	</div>
			</div>
			<div class="col-md-3">
				<div class="item_inner">
			  		<div class="img_container">
			  			<img src="images/img004.jpg" alt="image 01" />
			  		</div>
			  		<div class="des_container">
			  			<h5 class="pro_name"><a href="">Bánh đậu xanh mini cup</a></h5>
			  			<div class="price_box">
			  				<span class="price">50,000</span>
			  				<span class="old_price">20,000 </span> 
			  			</div>
			  			<a href="" class="btn btn_cart"><span class="icon-cart"></span>Đặt hàng</a>
			  		</div>
			  	</div>
			</div>
			<div class="col-md-3">
				<div class="item_inner">
			  		<div class="img_container">
			  			<img src="images/img003.jpg" alt="image 01" />
			  		</div>
			  		<div class="des_container">
			  			<h5 class="pro_name"><a href="">Bánh đậu xanh mini cup</a></h5>
			  			<div class="price_box">
			  				<span class="price">50,000</span>
			  				<span class="old_price">20,000 </span> 
			  			</div>
			  			<a href="" class="btn btn_cart"><span class="icon-cart"></span>Đặt hàng</a>
			  		</div>
			  	</div>
			</div>
			<div class="col-md-3">
				<div class="item_inner">
			  		<div class="img_container">
			  			<img src="images/img002.jpg" alt="image 01" />
			  		</div>
			  		<div class="des_container">
			  			<h5 class="pro_name"><a href="">Bánh đậu xanh mini cup</a></h5>
			  			<div class="price_box">
			  				<span class="price">50,000</span>
			  				<span class="old_price">20,000 </span> 
			  			</div>
			  			<a href="" class="btn btn_cart"><span class="icon-cart"></span>Đặt hàng</a>
			  		</div>
			  	</div>
			</div>
			<div class="col-md-3">
				<div class="item_inner">
			  		<div class="img_container">
			  			<img src="images/img003.jpg" alt="image 01" />
			  		</div>
			  		<div class="des_container">
			  			<div class="des_inner">
			  				<h5 class="pro_name"><a href="">Bánh đậu xanh mini cup</a></h5>
				  			<div class="price_box">
				  				<span class="price">50,000</span>
				  				<span class="old_price">20,000 </span> 
				  			</div>
				  			<a href="" class="btn btn_cart"><span class="icon-cart"></span>Đặt hàng</a>
			  			</div>
			  		</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="item_inner">
			  		<div class="img_container">
			  			<img src="images/img002.jpg" alt="image 01" />
			  		</div>
			  		<div class="des_container">
			  			<h5 class="pro_name"><a href="">Bánh đậu xanh mini cup</a></h5>
			  			<div class="price_box">
			  				<span class="price">50,000</span>
			  				<span class="old_price">20,000 </span> 
			  			</div>
			  			<a href="" class="btn btn_cart"><span class="icon-cart"></span>Đặt hàng</a>
			  		</div>
			  	</div>
			</div>
			<div class="col-md-3">
				<div class="item_inner">
			  		<div class="img_container">
			  			<img src="images/img004.jpg" alt="image 01" />
			  		</div>
			  		<div class="des_container">
			  			<h5 class="pro_name"><a href="">Bánh đậu xanh mini cup</a></h5>
			  			<div class="price_box">
			  				<span class="price">50,000</span>
			  				<span class="old_price">20,000 </span> 
			  			</div>
			  			<a href="" class="btn btn_cart"><span class="icon-cart"></span>Đặt hàng</a>
			  		</div>
			  	</div>
			</div>
			<div class="col-md-3">
				<div class="item_inner">
			  		<div class="img_container">
			  			<img src="images/img001.jpg" alt="image 01" />
			  		</div>
			  		<div class="des_container">
			  			<h5 class="pro_name"><a href="">Bánh đậu xanh mini cup</a></h5>
			  			<div class="price_box">
			  				<span class="price">50,000</span>
			  				<span class="old_price">20,000 </span> 
			  			</div>
			  			<a href="" class="btn btn_cart"><span class="icon-cart"></span>Đặt hàng</a>
			  		</div>
			  	</div>
			</div>
			<div class="clearfix"></div>
		<a href="#" class="btn_more">xem thêm</a>
	</div>
</section>
<!-- //INTRO SECTION -->

<!-- INFO DELIVERY -->
<section class="info_delivery noprint">
	<div class="container">
		<div class="row">
			<div class="col-md-4">	
				<i class="icon-contact"></i>				
				<h4>Cách thức đặt hàng</h4>
				<p>Liên hệ trực tiếp qua hotline 0933 675 051 <br/>để nhân viên Baa&Boo ghi nhận các món ăn. <br/>Vui lòng đặt hàng trước 1 ngày.</p>
			</div>
			<div class="col-md-4">	
				<i class="icon-delivery"></i>				
				<h4>Cách thức giao hàng</h4>
				<p>Sau khi nhận được đơn hàng, Baa&Boo sẽ liên hệ lại<br/> theo số điện thoại mà quý khách đã cung cấp để<br/> xác nhận thông tin đặt hàng.</p>
			</div>
			<div class="col-md-4">	
				<i class="icon-payment"></i>				
				<h4>Cách thức thanh toán</h4>
				<p>Nhân viên của Baa&Boo sẽ thu tiền mặt trực tiếp <br/>khi giao hàng cho quý khách.</p>
			</div>
		</div>
	</div>
</section>
<!-- //INFO DELIVERY -->