<!-- /HEADER BACKGROUND SECTION -->
<div class="baaboo-has-background ken-burn" data-parallax="scroll" data-natural-height="850" data-natural-width="1920" data-position="top" data-image-src="images/bg/bg_08.jpg" data-bleed="1">
    <div class="baaboo-content-wrapper" style="background-image: url(images/bg/bg_08.jpg)">
        <div class="baaboo-container-inner">
          <div class="baaboo-title-holder">
              <h1 class="baaboo-page-title"><span>The Menu</span></h1>
		      <span class="baaboo-subtitle"><span>Experienced and Friendly</span></span>
          </div>
      </div>
    </div>
</div>
<!-- /HEADER BACKGROUND SECTION -->

<article class="price-section">
	<section class="section fullwidth">
		<div class="row">
			<div class="col-md-12">
				<section class="menus menus-full">
					<div class="row">
						<div class="left-section dark-bg">
							<div class="col-md-8 pull-right menus-container">
								<div class="menu-carousel wow fadeInLeft owl-carousel">
									<div class="menu">
										<div class="section-text text-block ">
											<header class="section-title">
												<h2><span class="split">Our</span> Breakfast</h2>
												<p>Weekdays  7:30 a.m. — 11:30 a.m.</p>
											</header>
										</div>
										<div class="menu-list">
											<div class="food">
												<h6 class="food-name">Soft-Boiled Organic Egg</h6>
												<div class="food-desc">
													<div class="food-details"><span>with “soldiers” </span></div>
													<!-- /food-details -->
													<div class="dots"></div>
													<div class="food-price"><span>5.00</span></div>
													<!-- /food-price -->
												</div>
												<!-- /food-desc -->
											</div>
											<div class="food">
												<h6 class="food-name">Eggs Any Style</h6>
												<div class="food-desc">
													<div class="food-details"><span>with homefries &amp; toast</span></div>
													<!-- /food-details -->
													<div class="dots"></div>
													<div class="food-price"><span>16.00</span></div>
													<!-- /food-price -->
												</div>
												<!-- /food-desc -->
											</div>
											<div class="food">
												<h6 class="food-name">Scrambled Eggs in Puff Pastry</h6>
												<div class="food-desc">
													<div class="food-details"><span>with wild mushrooms and asparagus</span></div>
													<!-- /food-details -->
													<div class="dots"></div>
													<div class="food-price"><span>22.00</span></div>
													<!-- /food-price -->
												</div>
												<!-- /food-desc -->
											</div>
											<div class="food">
												<h6 class="food-name">Eggs Benedict</h6>
												<div class="food-desc">
													<div class="food-details"><span>with homefries</span></div>
													<!-- /food-details -->
													<div class="dots"></div>
													<div class="food-price"><span>22.00</span></div>
													<!-- /food-price -->
												</div>
												<!-- /food-desc -->
											</div>
											<div class="food">
												<h6 class="food-name">Eggs Benedict</h6>
												<div class="food-desc">
													<div class="food-details"><span>with homefries</span></div>
													<!-- /food-details -->
													<div class="dots"></div>
													<div class="food-price"><span>22.00</span></div>
													<!-- /food-price -->
												</div>
												<!-- /food-desc -->
											</div>
											<div class="food">
												<h6 class="food-name">Soft-Boiled Organic Egg</h6>
												<div class="food-desc">
													<div class="food-details"><span>with “soldiers” </span></div>
													<!-- /food-details -->
													<div class="dots"></div>
													<div class="food-price"><span>5.00</span></div>
													<!-- /food-price -->
												</div>
												<!-- /food-desc -->
											</div>
											<div class="food">
												<h6 class="food-name">Eggs Any Style</h6>
												<div class="food-desc">
													<div class="food-details"><span>with homefries &amp; toast</span></div>
													<!-- /food-details -->
													<div class="dots"></div>
													<div class="food-price"><span>16.00</span></div>
													<!-- /food-price -->
												</div>
												<!-- /food-desc -->
											</div>
											<div class="food">
												<h6 class="food-name">Eggs Benedict</h6>
												<div class="food-desc">
													<div class="food-details"><span>with homefries </span></div>
													<!-- /food-details -->
													<div class="dots"></div>
													<div class="food-price"><span>22.00</span></div>
													<!-- /food-price -->
												</div>
												<!-- /food-desc -->
											</div>
										</div>
									</div>
									<!-- menu -->
									<div class="menu">
										<div class="section-text text-block ">
											<header class="section-title">
												<h2><span class="split">Our</span> Lunch</h2>
												<p>Weekdays  7:30 a.m. — 11:30 a.m.</p>
											</header>
										</div>
										<div class="menu-list">
											<div class="food">
												<h6 class="food-name">Eggs Any Style</h6>
												<div class="food-desc">
													<div class="food-details"><span>with homefries &amp; toast</span></div>
													<!-- /food-details -->
													<div class="dots"></div>
													<div class="food-price"><span>16.00</span></div>
													<!-- /food-price -->
												</div>
												<!-- /food-desc -->
											</div>
											<div class="food">
												<h6 class="food-name">Scrambled Eggs in Puff Pastry</h6>
												<div class="food-desc">
													<div class="food-details"><span>with wild mushrooms and asparagus</span></div>
													<!-- /food-details -->
													<div class="dots"></div>
													<div class="food-price"><span>22.00</span></div>
													<!-- /food-price -->
												</div>
												<!-- /food-desc -->
											</div>
											<div class="food">
												<h6 class="food-name">Eggs Benedict</h6>
												<div class="food-desc">
													<div class="food-details"><span>with homefries</span></div>
													<!-- /food-details -->
													<div class="dots"></div>
													<div class="food-price"><span>22.00</span></div>
													<!-- /food-price -->
												</div>
												<!-- /food-desc -->
											</div>
											<div class="food">
												<h6 class="food-name">Eggs Benedict</h6>
												<div class="food-desc">
													<div class="food-details"><span>with homefries</span></div>
													<!-- /food-details -->
													<div class="dots"></div>
													<div class="food-price"><span>22.00</span></div>
													<!-- /food-price -->
												</div>
												<!-- /food-desc -->
											</div>
											<div class="food">
												<h6 class="food-name">Soft-Boiled Organic Egg</h6>
												<div class="food-desc">
													<div class="food-details"><span>with “soldiers” </span></div>
													<!-- /food-details -->
													<div class="dots"></div>
													<div class="food-price"><span>5.00</span></div>
													<!-- /food-price -->
												</div>
												<!-- /food-desc -->
											</div>
											<div class="food">
												<h6 class="food-name">Eggs Any Style</h6>
												<div class="food-desc">
													<div class="food-details"><span>with homefries &amp; toast</span></div>
													<!-- /food-details -->
													<div class="dots"></div>
													<div class="food-price"><span>16.00</span></div>
													<!-- /food-price -->
												</div>
												<!-- /food-desc -->
											</div>
											<div class="food">
												<h6 class="food-name">Eggs Benedict</h6>
												<div class="food-desc">
													<div class="food-details"><span>with homefries </span></div>
													<!-- /food-details -->
													<div class="dots"></div>
													<div class="food-price"><span>22.00</span></div>
													<!-- /food-price -->
												</div>
												<!-- /food-desc -->
											</div>
										</div>
									</div>
									<!-- menu -->
									<div class="menu">
										<div class="section-text text-block ">
											<header class="section-title">
												<h2><span class="split">Our</span> Dinner</h2>
												<p>Weekdays  10:15 a.m. — 11:30 a.m.</p>
											</header>
										</div>
										<div class="menu-list">
											<div class="food">
												<h6 class="food-name">Soft-Boiled Organic Egg</h6>
												<div class="food-desc">
													<div class="food-details"><span>with “soldiers” </span></div>
													<!-- /food-details -->
													<div class="dots"></div>
													<div class="food-price"><span>5.00</span></div>
													<!-- /food-price -->
												</div>
												<!-- /food-desc -->
											</div>
											<div class="food">
												<h6 class="food-name">Eggs Any Style</h6>
												<div class="food-desc">
													<div class="food-details"><span>with homefries &amp; toast</span></div>
													<!-- /food-details -->
													<div class="dots"></div>
													<div class="food-price"><span>16.00</span></div>
													<!-- /food-price -->
												</div>
												<!-- /food-desc -->
											</div>
											<div class="food">
												<h6 class="food-name">Scrambled Eggs in Puff Pastry</h6>
												<div class="food-desc">
													<div class="food-details"><span>with wild mushrooms and asparagus</span></div>
													<!-- /food-details -->
													<div class="dots"></div>
													<div class="food-price"><span>22.00</span></div>
													<!-- /food-price -->
												</div>
												<!-- /food-desc -->
											</div>
											<div class="food">
												<h6 class="food-name">Eggs Benedict</h6>
												<div class="food-desc">
													<div class="food-details"><span>with homefries</span></div>
													<!-- /food-details -->
													<div class="dots"></div>
													<div class="food-price"><span>22.00</span></div>
													<!-- /food-price -->
												</div>
												<!-- /food-desc -->
											</div>
											<div class="food">
												<h6 class="food-name">Eggs Benedict</h6>
												<div class="food-desc">
													<div class="food-details"><span>with homefries</span></div>
													<!-- /food-details -->
													<div class="dots"></div>
													<div class="food-price"><span>22.00</span></div>
													<!-- /food-price -->
												</div>
												<!-- /food-desc -->
											</div>
										</div>
									</div>
									<!-- menu -->
									<div class="menu">
										<div class="section-text text-block ">
											<header class="section-title">
												<h2><span class="split">Our</span> Drinks</h2>
												<p>Weekdays  10:15 a.m. — 11:30 a.m.</p>
											</header>
										</div>
										<div class="menu-list">
											<div class="food">
												<h6 class="food-name">Soft-Boiled Organic Egg</h6>
												<div class="food-desc">
													<div class="food-details"><span>with “soldiers” </span></div>
													<!-- /food-details -->
													<div class="dots"></div>
													<div class="food-price"><span>5.00</span></div>
													<!-- /food-price -->
												</div>
												<!-- /food-desc -->
											</div>
											<div class="food">
												<h6 class="food-name">Eggs Any Style</h6>
												<div class="food-desc">
													<div class="food-details"><span>with homefries &amp; toast</span></div>
													<!-- /food-details -->
													<div class="dots"></div>
													<div class="food-price"><span>16.00</span></div>
													<!-- /food-price -->
												</div>
												<!-- /food-desc -->
											</div>
											<div class="food">
												<h6 class="food-name">Scrambled Eggs in Puff Pastry</h6>
												<div class="food-desc">
													<div class="food-details"><span>with wild mushrooms and asparagus</span></div>
													<!-- /food-details -->
													<div class="dots"></div>
													<div class="food-price"><span>22.00</span></div>
													<!-- /food-price -->
												</div>
												<!-- /food-desc -->
											</div>
											<div class="food">
												<h6 class="food-name">Eggs Benedict</h6>
												<div class="food-desc">
													<div class="food-details"><span>with homefries</span></div>
													<!-- /food-details -->
													<div class="dots"></div>
													<div class="food-price"><span>22.00</span></div>
													<!-- /food-price -->
												</div>
												<!-- /food-desc -->
											</div>
											<div class="food">
												<h6 class="food-name">Eggs Benedict</h6>
												<div class="food-desc">
													<div class="food-details"><span>with homefries</span></div>
													<!-- /food-details -->
													<div class="dots"></div>
													<div class="food-price"><span>22.00</span></div>
													<!-- /food-price -->
												</div>
												<!-- /food-desc -->
											</div>
											<div class="food">
												<h6 class="food-name">Eggs Benedict</h6>
												<div class="food-desc">
													<div class="food-details"><span>with homefries </span></div>
													<!-- /food-details -->
													<div class="dots"></div>
													<div class="food-price"><span>22.00</span></div>
													<!-- /food-price -->
												</div>
												<!-- /food-desc -->
											</div>
										</div>
									</div>
									<!-- menu -->
								</div>
								<!-- /menu-carousel -->
								<div class="menu-carousel-nav"></div>
							</div>
							<!-- /menus-container -->
						</div>
						<!-- /left-section -->
						<div class="right-section">
							<div class="col-md-4 menu-meals-container wow fadeInRight">
								<ul class="menu-meals">
									<li>
										<figure><img src="images/price/service8.png" alt=""></figure>
										<div class="meal-details">
											<h3>Breakfast</h3>
											<p>Weekdays  7:30 a.m. — 11:30 a.m.</p>
										</div>
									</li>
									<li>
										<figure><img src="images/price/service7.png" alt=""></figure>
										<div class="meal-details">
											<h3>Lunch</h3>
											<p>Weekdays  8:30 a.m. — 15:30 a.m.</p>
										</div>
									</li>
									<li>
										<figure><img src="images/price/service6.png" alt=""></figure>
										<div class="meal-details">
											<h3>Dinner</h3>
											<p>Weekdays  10:15 a.m. — 12:30 a.m.</p>
										</div>
									</li>
									<li>
										<figure><img src="images/price/service5.png" alt=""></figure>
										<div class="meal-details">
											<h3>Drinks</h3>
											<p>Weekdays  10:15 a.m. — 12:30 a.m.</p>
										</div>
									</li>
								</ul>
							</div>
							<!-- /menu-meals-container -->
						</div>
						<!-- /right-section -->
					</div>
					<!-- /row -->
				</section>
				<!-- /menu-container -->
			</div>
		</div>
	</section>
</article>
<!-- #post-## -->
