<!-- /HEADER BACKGROUND SECTION -->
<div class="baaboo-has-background ken-burn" data-parallax="scroll" data-natural-height="850" data-natural-width="1920" data-position="top" data-image-src="images/bg/bg_07.jpg" data-bleed="1">
    <div class="baaboo-content-wrapper" style="background-image: url(images/bg/bg_07.jpg)">
        <div class="baaboo-container-inner">
          <div class="baaboo-title-holder">
              <h1 class="baaboo-page-title"><span>OUR SERVICES</span></h1>
              <span class="baaboo-subtitle"><span>Experienced and Friendly</span></span>
          </div>
      </div>
    </div>
</div>
<!-- /HEADER BACKGROUND SECTION -->

<section class="bg-default ">
    <div class="container ">
       <!-- /TEAM SECTION STYLE2-->
       <div class="row ">
           <div class="col-md-4">
               <div class="team-item-style2">
                   <a class="img-box" href="#">
                       <img alt="" src="images/team/chef-1.png">
                   </a>
                   <div class="content-box">
                       <h2> Jack Christian </h2>
                       <h4> Founder and ceo </h4>
                       <div class="btn-group social-group">
                           <a target="_blank" href="#"><i class="fa fa-facebook"></i></a>             
                           <a target="_blank" href="#"><i class="fa fa-twitter"></i></a>             
                           <a target="_blank" href="#"><i class="fa fa-google-plus"></i></a>                                            
                       </div>
                       <p> Lorem ipsum is text of the printing and industry manulo pertus martillo mana codrigonio. </p>
                   </div>
               </div>
           </div>
           <div class="col-md-4">
               <div class="team-item-style2">
                   <a class="img-box" href="#">
                       <img alt="" src="images/team/chef-2.png">
                   </a>
                   <div class="content-box">
                       <h2>SARAH PARTISON</h2>
                       <h4>Co-founder</h4>
                       <div class="btn-group social-group">
                           <a target="_blank" href="#"><i class="fa fa-facebook"></i></a>             
                           <a target="_blank" href="#"><i class="fa fa-twitter"></i></a>             
                           <a target="_blank" href="#"><i class="fa fa-google-plus"></i></a>                                            
                       </div>
                       <p> Lorem ipsum is text of the printing and industry manulo pertus martillo mana codrigonio. </p>
                   </div>
               </div>
           </div>
           <div class="col-md-4">
               <div class="team-item-style2">
                   <a class="img-box" href="#">
                       <img alt="" src="images/team/chef-3.png">
                   </a>
                   <div class="content-box">
                       <h2>LEE CHEN TOL</h2>
                       <h4>Marketing expert</h4>
                       <div class="btn-group social-group">
                           <a target="_blank" href="#"><i class="fa fa-facebook"></i></a>             
                           <a target="_blank" href="#"><i class="fa fa-twitter"></i></a>             
                           <a target="_blank" href="#"><i class="fa fa-google-plus"></i></a>                                            
                       </div>
                       <p> Lorem ipsum is text of the printing and industry manulo pertus martillo mana codrigonio. </p>
                   </div>
               </div>
           </div>
       </div>
       <!-- /TEAM SECTION STYLE2--> 
    </div>
</section>

<section class="has-bg-color">
    <div class="container">
        <!-- /PROGRESS BAR SECTION -->
        <div class="row has-background-color">
            <div class="col-md-6">
                <div class="baaboo-progress-bar">
                    <p class="baaboo-pb-title-holder">
                        <span class="baaboo-pb-title">Marketing</span>
                        <span class="baaboo-pb-percent"  data-position="65">0</span>
                    </p>
                    <div class="baaboo-pb-content-holder" >
                        <div data-percentage="65" class="baaboo-pb-content"></div>
                    </div>
                </div>

                <div class="baaboo-progress-bar">
                    <p class="baaboo-pb-title-holder">
                        <span class="baaboo-pb-title">Photography</span>
                        <span class="baaboo-pb-percent"  data-position="85">0</span>
                    </p>
                    <div class="baaboo-pb-content-holder" >
                        <div data-percentage="85" class="baaboo-pb-content"></div>
                    </div>
                </div>

                <div class="baaboo-progress-bar">
                    <p class="baaboo-pb-title-holder">
                        <span class="baaboo-pb-title">Development</span>
                        <span class="baaboo-pb-percent"  data-position="90">0</span>
                    </p>
                    <div class="baaboo-pb-content-holder" >
                        <div data-percentage="90" class="baaboo-pb-content"></div>
                    </div>
                </div>

                <div class="baaboo-progress-bar">
                    <p class="baaboo-pb-title-holder">
                        <span class="baaboo-pb-title">Development</span>
                        <span class="baaboo-pb-percent"  data-position="95">0</span>
                    </p>
                    <div class="baaboo-pb-content-holder" >
                        <div data-percentage="95" class="baaboo-pb-content"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6">
                        <div class="baaboo-pie-chart-holder">
                            <div class="baaboo-pc-percentage" data-percent="86" data-size="190" data-bar-color="#ec008c" data-track-color="#999">
                                <div class="inner-center">
                                    <div class="subtitle">
                                        <h2 class="baaboo-pc-title">CIRCLE<br/> PROGRESS BAR</h2>                                
                                        <span class="baaboo-pc-percent">86</span>            
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="baaboo-pie-chart-holder">
                            <div class="baaboo-pc-percentage" data-percent="75" data-size="190" data-bar-color="#ec008c" data-track-color="#999">
                                <div class="inner-center">
                                    <div class="subtitle">
                                        <h2 class="baaboo-pc-title">CIRCLE<br/> PROGRESS BAR</h2>                                
                                        <span class="baaboo-pc-percent">75</span>            
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="baaboo-pc-text-holder">
                                <h3 class="baaboo-pc-title" >Working Hours</h3>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /PROGRESS BAR SECTION -->
    </div>
</section>

<section class="has-divider bg-default">
    <div class="container">
        <!-- TEAM SECTION -->
        <div class="row">
            <div class="col-md-3">
                <div class="baaboo-team-holder">
                    <div class="baaboo-team-inner">
                        <div class="baaboo-team-image">
                            <img src="images/team/team-1.jpg" alt="s">
                            <div class="baaboo-team-social-wrapper">
                                <div class="baaboo-team-social-outer">
                                    <div class="baaboo-team-social-inner">
                                        <div class="baaboo-team-social-holder">
                                            <span class="baaboo-team-icon">    
                                                <span class="baaboo-icon-shortcode baaboo-normal ">
                                                    <a class="" href="http://www.facebook.com" target="_blank">
                                                        <i class="baaboo-icon-ion-icon ion-social-facebook baaboo-icon-element"></i>                    
                                                    </a>
                                                </span>
                                            </span>
                                            <span class="baaboo-team-icon">    
                                                <span class="baaboo-icon-shortcode baaboo-normal ">
                                                    <a class="" href="http://www.twitter.com" target="_blank">
                                                        <i class="baaboo-icon-ion-icon ion-social-twitter baaboo-icon-element"></i>                    
                                                    </a>
                                                </span>
                                            </span>
                                            <span class="baaboo-team-icon">    
                                                <span class="baaboo-icon-shortcode baaboo-normal ">
                                                    <a class="" href="http://www.vimeo.com" target="_blank">
                                                        <i class="baaboo-icon-ion-icon ion-social-vimeo baaboo-icon-element"></i>                    
                                                    </a>
                                                </span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="baaboo-team-info">
                            <h6 class="baaboo-team-name">Anny Costelli</h6>
                            <p class="baaboo-team-position">Manager</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="baaboo-team-holder">
                    <div class="baaboo-team-inner">
                        <div class="baaboo-team-image">
                            <img src="images/team/team-4.jpg" alt="s">
                            <div class="baaboo-team-social-wrapper">
                                <div class="baaboo-team-social-outer">
                                    <div class="baaboo-team-social-inner">
                                        <div class="baaboo-team-social-holder">
                                            <span class="baaboo-team-icon">    
                                                <span class="baaboo-icon-shortcode baaboo-normal ">
                                                    <a class="" href="http://www.facebook.com" target="_blank">
                                                        <i class="baaboo-icon-ion-icon ion-social-facebook baaboo-icon-element"></i>                    
                                                    </a>
                                                </span>
                                            </span>
                                            <span class="baaboo-team-icon">    
                                                <span class="baaboo-icon-shortcode baaboo-normal ">
                                                    <a class="" href="http://www.twitter.com" target="_blank">
                                                        <i class="baaboo-icon-ion-icon ion-social-twitter baaboo-icon-element"></i>                    
                                                    </a>
                                                </span>
                                            </span>
                                            <span class="baaboo-team-icon">    
                                                <span class="baaboo-icon-shortcode baaboo-normal ">
                                                    <a class="" href="http://www.vimeo.com" target="_blank">
                                                        <i class="baaboo-icon-ion-icon ion-social-vimeo baaboo-icon-element"></i>                    
                                                    </a>
                                                </span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="baaboo-team-info">
                            <h6 class="baaboo-team-name">Michael Canolli</h6>
                            <p class="baaboo-team-position">Chef</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="baaboo-team-holder">
                    <div class="baaboo-team-inner">
                        <div class="baaboo-team-image">
                            <img src="images/team/team-2.jpg" alt="s">
                            <div class="baaboo-team-social-wrapper">
                                <div class="baaboo-team-social-outer">
                                    <div class="baaboo-team-social-inner">
                                        <div class="baaboo-team-social-holder">
                                            <span class="baaboo-team-icon">    
                                                <span class="baaboo-icon-shortcode baaboo-normal ">
                                                                    <a class="" href="http://www.facebook.com" target="_blank">
                                                                        <i class="baaboo-icon-ion-icon ion-social-facebook baaboo-icon-element"></i>                    
                                                                    </a>
                                                                        </span>
                                            </span>
                                            <span class="baaboo-team-icon">    
                                                <span class="baaboo-icon-shortcode baaboo-normal ">
                                                                    <a class="" href="http://www.twitter.com" target="_blank">
                                                                        <i class="baaboo-icon-ion-icon ion-social-twitter baaboo-icon-element"></i>                    
                                                                    </a>
                                                                        </span>
                                            </span>
                                            <span class="baaboo-team-icon">    
                                                <span class="baaboo-icon-shortcode baaboo-normal ">
                                                                    <a class="" href="http://www.vimeo.com" target="_blank">
                                                                        <i class="baaboo-icon-ion-icon ion-social-vimeo baaboo-icon-element"></i>                    
                                                                    </a>
                                                                        </span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="baaboo-team-info">
                            <h6 class="baaboo-team-name">Marry Costelli</h6>
                            <p class="baaboo-team-position">Waiter</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="baaboo-team-holder">
                    <div class="baaboo-team-inner">
                        <div class="baaboo-team-image">
                            <img src="images/team/team-3.jpg" alt="s" >
                            <div class="baaboo-team-social-wrapper">
                                <div class="baaboo-team-social-outer">
                                    <div class="baaboo-team-social-inner">
                                        <div class="baaboo-team-social-holder">
                                            <span class="baaboo-team-icon">    
                                                <span class="baaboo-icon-shortcode baaboo-normal ">
                                                                    <a class="" href="http://www.facebook.com" target="_blank">
                                                                        <i class="baaboo-icon-ion-icon ion-social-facebook baaboo-icon-element"></i>                    
                                                                    </a>
                                                                        </span>
                                            </span>
                                            <span class="baaboo-team-icon">    
                                                <span class="baaboo-icon-shortcode baaboo-normal ">
                                                                    <a class="" href="http://www.twitter.com" target="_blank">
                                                                        <i class="baaboo-icon-ion-icon ion-social-twitter baaboo-icon-element"></i>                    
                                                                    </a>
                                                                        </span>
                                            </span>
                                            <span class="baaboo-team-icon">    
                                                <span class="baaboo-icon-shortcode baaboo-normal ">
                                                                    <a class="" href="http://www.vimeo.com" target="_blank">
                                                                        <i class="baaboo-icon-ion-icon ion-social-vimeo baaboo-icon-element"></i>                    
                                                                    </a>
                                                                        </span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="baaboo-team-info">
                            <h6 class="baaboo-team-name">Dave Costelli</h6>
                            <p class="baaboo-team-position">Baker</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /TEAM SECTION STYLE1-->

        
    </div>
</section>
